.bar {
  fill: hsl(10, 79%, 65%);
  border-radius: 5px;
}

.bar.active {
  fill: #292988;
}
.axis {
  font: 10px sans-serif;
  /* margin: 80px; */
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path,
.x.axis line,
.y.axis {
  display: none;
  visibility: hidden;
}

.gap-15 {
  gap: 15px;
}
